@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Playfair Display', serif; */

/* navbar css */

.navbar{
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: 0px solid gray !important;
}

.nav-link{
  font-weight: 300 !important;
}

.active{
  border-bottom: 2px solid;
}

.navbar-brand{
  font-weight: 700;
  font-family: 'roboto', sans-serif;
  letter-spacing: 3px;
}


/* Footer */
/* ================== */

.footer{
  color: white;
  padding: 25px;
  background: rgba(53, 2, 10, 0.822);
}

.footer a{
  text-decoration: none;
  color: wheat;
  padding: 10px;
}

.footer a:hover{
  color: rgb(204, 185, 150);
  border-bottom: 2px solid rgb(221, 191, 134);
}

/* PageNotFound */
/* ========================= */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}
.pnf-btn:hover {
  background-color: black;
  color: white;
}


/* Contact */
/* =================== */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Register */
/* =================== */
.register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  flex-direction: column;
}


.product-link{
  text-decoration: none !important;
  color: white !important;
}


.recipe-details {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
}

.detail-item {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.detail-title {
  color: #ff5733;
  margin: 0;
  font-size: 16px;
}

.detail-value {
  color: #333;
  margin: 0;
  font-size: 14px;
}


.recipe-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


